name: test
on:
  push:
    paths-ignore:
      - LICENSE
      - README.*
      - examples
      - .github/workflows
  pull_request:
    paths-ignore:
      - LICENSE
      - README.*
      - examples
      - .github/workflows
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nim-version:
          - 'stable'
    steps:
      - uses: actions/checkout@v3
      - uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: ${{ matrix.nim-version }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      # todo publish supranim's session package
      # meanwhile, install it directly from the repo for testing
      - run: |
          nimble install https://github.com/supranim/session

      - run: nimble install -Y
      - run: nim c -r src/${{ github.event.repository.name }}.nim
      - run: nimble test
